

<section class="admin-products-index">

  <header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="alert alert-info" role="alert">
    Number of products: <%= Product.count %>
  </div>
  <div class="alert alert-info" role="alert">
    Number of categories: <%= Product.distinct.pluck(:category_id).count %>
  </div>

</section>